src-git-full packages https://git.openwrt.org/feed/packages.git
src-git-full luci https://git.openwrt.org/project/luci.git
src-git-full routing https://git.openwrt.org/feed/routing.git
src-git-full telephony https://git.openwrt.org/feed/telephony.git
src-git kmod https://downloads.openwrt.org/releases/22.03.2/targets/x86/64/kmods/5.10.146-1-5d4fa2bd675198961db287e63a2370e2
src-git extra https://github.com/makebl/openwrt-package
