#src-git-full packages https://git.openwrt.org/feed/packages.git^0b16e3f35
#src-git-full luci https://git.openwrt.org/project/luci.git^afd0012939
#src-git-full routing https://git.openwrt.org/feed/routing.git^25e7648
#src-git-full telephony https://git.openwrt.org/feed/telephony.git^89cc8fc
src-git packages https://github.com/coolsnowwolf/packages
src-git luci https://github.com/coolsnowwolf/luci
src-git routing https://github.com/coolsnowwolf/routing
src-git telephony https://git.openwrt.org/feed/telephony.git
