src-git core https://op.supes.top/targets/x86/64/5.15.77
src-git extra https://op.supes.top/packages/x86_64/kiddin9
src-git packages https://op.supes.top/packages/x86_64/packages
src-git luci https://op.supes.top/packages/x86_64/luci
src-git routing https://op.supes.top/packages/x86_64/routing
src-git telephony https://git.openwrt.org/feed/telephony.git
